body {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 320px;
    width: 90%;
}

@media (min-width: 640px) {
    .page div {
        width: 50%;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ingredients li {
    list-style-type: none;
}

.ingredients ul{
    padding: 0;
}

.recipe li {
    list-style-type: none;
}

.recipe ul {
    padding: 0;
}

.page {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

footer {
    margin-top: 10%;
}


